In [3]:
!pip install jinja2

Collecting jinja2
  Downloading jinja2-3.1.6-py3-none-any.whl.metadata (2.9 kB)
Collecting MarkupSafe>=2.0 (from jinja2)
  Downloading MarkupSafe-3.0.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.0 kB)
Downloading jinja2-3.1.6-py3-none-any.whl (134 kB)
Downloading MarkupSafe-3.0.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (23 kB)
Installing collected packages: MarkupSafe, jinja2
Successfully installed MarkupSafe-3.0.2 jinja2-3.1.6
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

In [5]:
import pandas as pd
import  numpy   as np
import matplotlib as mpl

df = pd.DataFrame({
    "strings":["Adam", "Mike"],
    "ints":[1, 3],
    "floats":[1.123, 1000.23]
})
df

  strings  ints    floats
0    Adam     1     1.123
1    Mike     3  1000.230

- format()
- format_indax()

In [ ]:
df.style.format(
    precision=2,
    thousands=",",
    decimal="."
)

In [7]:
df.style.format(
    precision=2,
    thousands=",",
    decimal="."
).format_index(axis=1, formatter=str.upper)

In [9]:
df.style.format(
    precision=2,
    thousands=",",
    decimal="."
).format_index(axis=1, formatter=str.upper).relabel_index(["row1", "row2"], axis=0)

In [12]:
# \ 換行
df.style\
.format(
    precision=2,
    thousands=",",
    decimal="."
).format_index(axis=1, formatter=str.upper)\
.relabel_index(["row1", "row2"], axis=0)

In [13]:
import pandas as pd
import numpy as np

# 範例 DataFrame
data = {
    'A': [1234.5678, 9876.5432, 10000.00],
    'B': [0.1234, 0.5678, 0.9999],
    'C': ['蘋果', '香蕉', '櫻桃'],
    'D': pd.to_datetime(['2023-10-26', '2023-10-27', '2023-10-28']),
    'E': [np.nan, 1, 2]
}
df = pd.DataFrame(data)
df

            A       B   C          D    E
0   1234.5678  0.1234  蘋果 2023-10-26  NaN
1   9876.5432  0.5678  香蕉 2023-10-27  1.0
2  10000.0000  0.9999  櫻桃 2023-10-28  2.0

In [14]:
styled_df1 = df.style.format("{:.2f}", subset=["A", "B"])
styled_df1

In [17]:
weather_df = pd.DataFrame(np.random.rand(10, 2)*5,
                          index=pd.date_range(start="2021-01-01", periods=10),
                          columns=["Tokyo", "Taipei"])
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=5, cmap="PuBuGn")

In [18]:
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=3, cmap="PuBuGn")

In [19]:
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=3, cmap="BuPu")

In [20]:
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=3, cmap="BuPu")\
.to_excel("test1.xlsx")

In [21]:
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=3, cmap="BuPu", subset=["Tokyo"])

In [23]:
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=3, cmap="BuPu", subset=["Tokyo"])\
.format("{:.2f}")

In [ ]:
# format

def rain_condition(v):
    if v < 1.75:
        return "乾燥"
    elif v < 2.75:
        return "有雨"
    else:
        return "大雨"

weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=3, cmap="BuPu", subset=["Tokyo"])\
.format(rain_condition)

In [ ]:
# format_index

def rain_condition(v):
    if v < 1.75:
        return "乾燥"
    elif v < 2.75:
        return "有雨"
    else:
        return "大雨"

def change_index(t):
    return t.strftime("%Y年%m月%d日")


weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=3, cmap="BuPu", subset=["Tokyo"])\
.format(rain_condition)\
.format_index(change_index)